*.exe
sudoku.csv
SudokuSolver/.vs/SudokuSolver/DesignTimeBuild/.dtbcache
SudokuSolver/.vs/SudokuSolver/v16/.suo
SudokuSolver/.vs/SudokuSolver/v16/Server/sqlite3/db.lock
SudokuSolver/.vs/SudokuSolver/v16/Server/sqlite3/storage.ide
SudokuSolver/SudokuSolver/bin/Debug/netcoreapp3.1/SudokuSolver.deps.json
SudokuSolver/SudokuSolver/bin/Debug/netcoreapp3.1/SudokuSolver.dll
SudokuSolver/SudokuSolver/bin/Debug/netcoreapp3.1/SudokuSolver.pdb
SudokuSolver/SudokuSolver/bin/Debug/netcoreapp3.1/SudokuSolver.runtimeconfig.dev.json
SudokuSolver/SudokuSolver/bin/Debug/netcoreapp3.1/SudokuSolver.runtimeconfig.json
SudokuSolver/SudokuSolver/bin/Release/netcoreapp3.1/SudokuSolver.deps.json
SudokuSolver/SudokuSolver/bin/Release/netcoreapp3.1/SudokuSolver.dll
SudokuSolver/SudokuSolver/bin/Release/netcoreapp3.1/SudokuSolver.pdb
SudokuSolver/SudokuSolver/bin/Release/netcoreapp3.1/SudokuSolver.runtimeconfig.dev.json
SudokuSolver/SudokuSolver/bin/Release/netcoreapp3.1/SudokuSolver.runtimeconfig.json
SudokuSolver/SudokuSolver/obj/project.assets.json
SudokuSolver/SudokuSolver/obj/SudokuSolver.csproj.nuget.cache
SudokuSolver/SudokuSolver/obj/SudokuSolver.csproj.nuget.dgspec.json
SudokuSolver/SudokuSolver/obj/SudokuSolver.csproj.nuget.g.props
SudokuSolver/SudokuSolver/obj/SudokuSolver.csproj.nuget.g.targets
SudokuSolver/SudokuSolver/obj/Debug/netcoreapp3.1/SudokuSolver.AssemblyInfo.cs
SudokuSolver/SudokuSolver/obj/Debug/netcoreapp3.1/SudokuSolver.AssemblyInfoInputs.cache
SudokuSolver/SudokuSolver/obj/Debug/netcoreapp3.1/SudokuSolver.assets.cache
SudokuSolver/SudokuSolver/obj/Debug/netcoreapp3.1/SudokuSolver.csproj.FileListAbsolute.txt
SudokuSolver/SudokuSolver/obj/Debug/netcoreapp3.1/SudokuSolver.csprojAssemblyReference.cache
SudokuSolver/SudokuSolver/obj/Debug/netcoreapp3.1/SudokuSolver.dll
SudokuSolver/SudokuSolver/obj/Debug/netcoreapp3.1/SudokuSolver.pdb
SudokuSolver/SudokuSolver/obj/Release/netcoreapp3.1/SudokuSolver.AssemblyInfo.cs
SudokuSolver/SudokuSolver/obj/Release/netcoreapp3.1/SudokuSolver.AssemblyInfoInputs.cache
SudokuSolver/SudokuSolver/obj/Release/netcoreapp3.1/SudokuSolver.assets.cache
SudokuSolver/SudokuSolver/obj/Release/netcoreapp3.1/SudokuSolver.csproj.FileListAbsolute.txt
SudokuSolver/SudokuSolver/obj/Release/netcoreapp3.1/SudokuSolver.csprojAssemblyReference.cache
SudokuSolver/SudokuSolver/obj/Release/netcoreapp3.1/SudokuSolver.dll
SudokuSolver/SudokuSolver/obj/Release/netcoreapp3.1/SudokuSolver.pdb
/SudokuSolver/.vs/SudokuSolver/v16/Server/sqlite3/storage.ide-wal
/SudokuSolver/.vs/SudokuSolver/v16/Server/sqlite3/storage.ide-shm
/SudokuSolver/.vs/SudokuSolver/v16/Server/sqlite3
/SudokuSolver/.vs/SudokuSolver/v15/Server/sqlite3/storage.ide-wal
/SudokuSolver/.vs/SudokuSolver/v15/Server/sqlite3/storage.ide-shm
/SudokuSolver/.vs/SudokuSolver/v15/Server/sqlite3/storage.ide
/SudokuSolver/.vs/SudokuSolver/v15/Server/sqlite3/db.lock
/SudokuSolver/.vs/SudokuSolver/v15/Server/sqlite3
/SudokuSolver/.vs/SudokuSolver/v15/.suo
/SudokuSolver/.vs/SudokuSolver/v15
